*
{
    margin: 0;
    padding: 0;
}

html {
    background-color: #1e1a20;
    font-size: 1vh;
    color: white;
}

body {
    overflow: hidden;
}

@media (orientation:portrait) {
    html {
        font-size: 1.25vw;
    }
}
@media (orientation:landscape) {
    html {
        font-size: 1.25vh;
    }
}


/* html,
/* body
{
    overflow: hidden;
} */ */

body {
    overflow: hidden;
}

.webgl
{
    position: fixed;
    outline: none;
    box-sizing: border-box;
    /* border: 2px solid blue; */
    cursor: grab;
}

.miniWebGL {
    width: 7.5rem;
    height: 100%;
    position: absolute;
    outline: none;
    box-sizing: border-box;
}

.infoModal {
    height: 100vh;
    width: 30rem;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    /* border-radius: 2rem 2rem 0rem 0rem; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.infoModalMain {
    height: calc(100% - 5vh);
    width: 30rem;
    right: 0;
    top: 0;
    position: absolute;
    background-color: transparent;
    /* border-radius: 2rem 2rem 0rem 0rem; */
    /* padding: 2rem; */
    box-sizing: border-box;
    /* display: none; */
    /* border: 2px solid blue; */
}

.redStrip {
    height: 95%;
    width: 7.5rem;
    position: absolute;
    /* right: 10vh; */
    left: 2rem;
    top: 0;
    background-color: #ff0000;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 200;
    /* box-shadow: 0px 3px 3px black; */
    /* border: 2px solid blue; */
}   

.h1Div {
    font-size: 3.5rem;
    /* font-style: italic; */
    margin-bottom: 4rem;
    font-weight: bolder;
    
    /* text-shadow: 3px 3px 1px black; */
}

.h3Div {
    font-size: 2rem;
    /* font-style: italic; */
    /* margin-left: 3vw; */
    text-align: right;
    /* text-shadow: 3px 3px 1px black; */
    font-weight: bolder;
    margin-bottom: 3.5rem;
}

.h3Div2 {
    font-size: 2rem;
    /* font-style: italic; */
    /* margin-left: 3vw; */
    text-align: left;
    /* text-shadow: 3px 3px 1px black; */
    font-weight: bolder;
}

.redText {
    font-weight: bold;
    color: red;
}

.contentGrey {
    height: calc(100% - 5vh);
    width: 30rem;
    position: absolute;
    right: 5rem;
    top: 5vh;
    background-color: #121617;
    /* background-color: #eaeaea; */

    /* border-radius: 2rem 2rem 0rem 0rem; */
    color: white;
    box-sizing: border-box;
    /* display: none; */
    /* border: 2px solid blue;  */
    z-index: 150;
    padding: 2rem;
}

.contentRed {
    height: 100vh;
    width: 30rem;
    position: relative;
    right: calc(5rem + 2rem);
    top: 5vh;
    background-color: transparent;
    /* border-radius: 2rem 2rem 0rem 0rem; */
    color: black;
    /* text-shadow: 3px 3px 1px black; */
    box-sizing: border-box;
    /* display: none; */
    /* border: 2px solid blue;  */
    z-index: 1000;
    padding: 2rem;

}

::selection {
    background-color: transparent;
  }

.closer {
    z-index: 1000;
    position: absolute;
    right: 1vh;
    top: 1vh;
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
}

.display {
    display: block;
}

@keyframes insertAnimationFromBelow {
    0% {
        opacity: 1;
        transform: translateY(100vh);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes insertAnimationFromAbove {
    0% {
        opacity: 1;
        transform: translateY(-100vh);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes stay {
    0% {
        opacity: 1;
        transform: translateY(200vh);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes canvasStay {
    0% {
        opacity: 1;
        transform: translateY(100vh);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.displayGrey {
    animation: insertAnimationFromBelow 1s forwards;
}

.displayRed {
    animation: insertAnimationFromAbove 1s forwards;
}

.stay {
    animation: stay 1s forwards;
}

.canvasStay {
    animation: canvasStay 1s forwards;
}

.displayGreyx {
    animation: insertAnimationFromBelowx 0.5s forwards;
}

.displayRedx {
    animation: insertAnimationFromAbovex 0.5s forwards;
}

.stayx {
    animation: stayx 0.5s forwards;
}

.canvasStayx {
    animation: canvasStayx 0.5s forwards;
}

.displayx {
    display: none;
}

@keyframes insertAnimationFromBelowx {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(100vh);
    }
}

@keyframes insertAnimationFromAbovex {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(-100vh);
    }
}

@keyframes stayx {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(200vh);
    }
}

@keyframes canvasStayx {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(100vh);
    }
}

.sidebarMain {
    position: fixed;
    height: 100%;
    width: 3rem;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}

.sidebar {
    /* border: 2px solid blue; */
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sidebarLinks {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebarCircle {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
}

.current {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #ff0000;
    border-color: #ff0000;
}

/* loading page */
#loadingPage {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: #121617;
    /* border: 2px solid white; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    /* display: none; */
}

#loadingBarContainer {
    height: 5px;
    width: 200px;
    background-color: white;
    overflow: hidden;
}

#loadingBar {
    width: 200px;
    height: 10px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
}

#h1Grey {
    color: red;
}

#h1Red {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.15rem black;
}

#up, #down, #right {
    color: red;
    cursor: pointer;
}

#instructionsBar {
    position: fixed;
    /* border: 2px solid white; */
    width: 37.5rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    background-color: #121617;
    top: 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

#instructionsTextDiv {
    width: 32.5rem;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

#instructionsText {
    text-align: right;
    color: white;
}

#rightDiv {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 5rem;
}

.flipped  {
    transform: scaleX(-1);
}

#turnLaptopOn {
    position: fixed;
    text-align: center;
    bottom: 2rem;
    width: 100%;
    height: 2rem;
    /* border: 2px solid white; */
    font-family: 'Montserrat', sans-serif;
    display: none;
    opacity: 0;
}

#loadingText {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
}

#loadingDiv {
    text-align: center;
}